section.applications {
  .section-padding();

  .top-bar {
    .search-container {
      width: 300px;
    }

    .btn-add {
      height: 40px;
    }
  }

  .table-container {
    margin-top: 40px;

    tbody {
      tr {
        cursor: pointer;
        td {
          .application-name-container {
            padding: 5px;
            .application-name {
              font-size: 1rem;
              color: @dark-text;
            }
            p {
              font-size: 0.85rem;
              color: @gray;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

section.view-application {
  padding: 0 20px;
}

.manage-application-modal {
  .top-bar {
    .description {
      color: @gray;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 500;
    }
  }
  form {
    margin: 20px 0;
    input,
    textarea {
      border-radius: 3px;
    }
  }
}

section.versions {
  main {
    .data-card {
      margin-bottom: 20px;
      .content.statistics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .statistic {
          .statistic-title {
            font-size: 0.8rem;
            margin-bottom: 10px;
          }
          .statistic-value {
            font-size: 1.1rem;
            color: @primary-blue;
          }
        }
      }
      table thead th.ant-table-cell {
        background-color: transparent;
        color: @gray;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        &::before {
          background-color: transparent !important;
        }
      }
    }
  }
}

section.sub-section {
  color: @dark-text;

  > .top-bar {
    background-color: white;
    position: absolute;
    z-index: 1;
    left: -20px;
    right: -20px;
    top: -13px;
    padding: 20px;
    color: @dark-blue;
  }
  padding: 100px 0;
  .data-card {
    .top-bar {
      .title {
        color: @primary-blue;
        font-weight: 600;
      }
      margin-bottom: 20px;
    }
  }
}
