section.applications {
  .table-container {
    tbody {
      tr {
        cursor: pointer;
        td {
          .application-name-container {
            padding: 5px;
            .application-name {
              font-size: 1rem;
              color: @dark-text;
            }
            p {
              font-size: 0.85rem;
              color: @gray;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

section.view-application {
  > .top-bar-container {
    background-color: white;
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0;
    color: @dark-blue;
    > .top-bar {
      padding: 0 20px 0;
      height: 80px;
      h1 {
        font-size: 1.125rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 0.9rem;
      }
      button {
        height: 40px;
      }
    }
    .ant-tabs {
      padding: 15px 0 0;
      position: relative;
      .ant-tabs-nav {
        padding: 0 20px;
        &::before {
          border-bottom: none !important;
        }
      }
      .ant-tabs-content-holder {
        background-color: @body-background;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
      }
    }
  }
}

.manage-application-modal {
  .top-bar {
    .description {
      color: @gray;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 500;
    }
  }
  form {
    margin: 20px 0;
    input,
    textarea {
      border-radius: 3px;
    }
  }
}

.create-plan-modal {
  form {
    margin: 20px 0;
    input,
    textarea {
      border-radius: 3px;
    }
  }
}

section.versions {
  main {
    .data-card {
      margin-bottom: 20px;
      .content.statistics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .statistic {
          .statistic-title {
            font-size: 0.8rem;
            margin-bottom: 10px;
          }
          .statistic-value {
            font-size: 1.1rem;
            color: @primary-blue;
          }
        }
      }
    }
  }
}

section.plans {
}

section.sub-section {
  color: @dark-text;

  table thead th.ant-table-cell {
    background-color: transparent;
    color: @gray;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    &::before {
      background-color: transparent !important;
    }
  }

  .data-card {
    .top-bar {
      .title {
        color: @primary-blue;
        font-weight: 600;
      }
      margin-bottom: 20px;
    }
  }
}
