section.applications {
  .section-padding();

  .top-bar {
    .search-container {
      width: 300px;
    }

    .btn-add {
      height: 40px;
    }
  }

  .table-container {
    margin-top: 40px;

    tbody {
      tr {
        cursor: pointer;
        td {
          .application-name-container {
            padding: 5px;
            .application-name {
              font-size: 1rem;
              color: @dark-text;
            }
            p {
              font-size: 0.85rem;
              color: @gray;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}
.manage-application-modal {
  .top-bar {
    .description {
      color: @gray;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 500;
    }
  }
  form {
    margin: 20px 0;
    input,
    textarea {
      border-radius: 3px;
    }
  }
}
