aside {
  background-color: @dark-blue;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  h1 {
    padding: 30px;
    font-weight: 500;
    font-size: 22px;
  }
  .hidden {
    width: 0px;
  }
}
