@import "./header.less";
@import "./aside.less";
@import "./menuContainer.less";
@import "./userMenu.less";
@import "./notificationMenu.less";
@import "./breadcrumbs.less";
@import "./statisticBanner.less";

.custom-component {
  &.integrations-bar {
    &.transparent {
      background-color: transparent;
    }
    &.full {
      background-color: lighten(@dark-blue, 70%);
    }
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    .integration-item {
      border-radius: 50%;
      overflow: hidden;
      width: 30px;
      height: 30px;
      background-color: white;
      margin-right: 10px;
      &.add-integration {
        margin-right: 0;
      }
    }
    .add-integration-menu {
      width: 200px;
      padding: 5px 10px;
      ul {
        list-style: none;
        li {
          height: 40px;
          img.integration-logo {
            width: 30px;
            height: auto;
            margin-right: 10px;
          }
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
