@import "./header.less";
@import "./aside.less";
@import "./menuContainer.less";
@import "./userMenu.less";
@import "./notificationMenu.less";
@import "./breadcrumbs.less";
@import "./statisticBanner.less";

.custom-component {
  &.integrations-bar {
    &.transparent {
      background-color: transparent;
    }
    &.full {
      background-color: lighten(@dark-blue, 70%);
    }
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    .integration-item {
      border-radius: 50%;
      overflow: hidden;
      width: 30px;
      height: 30px;
      background-color: white;
      margin-right: 10px;
      &.add-integration {
        margin-right: 0;
      }
    }
    .add-integration-menu {
      width: 200px;
      padding: 5px 10px;
      ul {
        list-style: none;
        li {
          height: 40px;
          img.integration-logo {
            width: 30px;
            height: auto;
            margin-right: 10px;
          }
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.application-custom-fields {
  .ant-form-item {
    margin-bottom: 0;
    input {
      border: 1px solid @gray-border;
      padding: 0;
    }
  }
  .field-info-column {
    color: @dark-gray;
    .title {
      font-size: 0.8rem;
      margin-right: 5px;
      font-weight: 500;
    }
    .value {
      font-size: 0.7rem;
      padding-top: 2px;
    }
  }
}

.create-instance-modal {
  .top-bar {
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid @gray-border;
    .title {
      font-size: 1.125rem;
      font-weight: 600;
    }
    p {
      color: @text-color;
    }
  }

  form {
    padding-right: 50px;
    .ant-form-item {
      .ant-form-item-label {
        width: 120px;
      }
    }
    .database-selection-container {
      width: 100%;
      .ant-form-item {
        width: 100%;
        padding-right: 10px;
      }
      .icon {
        width: 30px;
        margin-bottom: 24px;
      }
    }
  }
}
