// Colors
@body-background: rgb(250, 250, 251);
@primary-blue: #3498db;
@dark-text: #373737;
@gray: #a7a7a7;
@mid-gray: #c6c6c6;
@light-gray: #f3f3f3;
@gray-border: #e5e5e5;
@light-border: rgb(240, 240, 240);

// Shadows
@box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
